@tailwind base;
@tailwind components;
@tailwind utilities;

[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white {
  @apply pt-0 md:pt-0;
}

.logo {
  max-height: 52px !important;
  max-width: 200px !important;
}
.mobile-button {
  background-color: #fff !important;
}
.mobile-button svg {
  color: #003464 !important;
}
.brand-blue-bg {
  background-color: #003464 !important;
}
.img-component span,
.img-component span > span,
.img-ht-375 {
  min-height: 100px !important;
  height: 375px !important;
  max-height: 375px !important;
}
